
.modal {
  align-items: center;
  width: 100%;
  background: white;
  transition: 1.1s ease-out;
  opacity: 1;
  visibility: visible;
}
.modal.off {
  opacity: 0;
  visibility: hidden;
}
input[type=text] {
  width: 65%;
  padding: 1em;
  margin-left: 10%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 15%;
  background-color: #153754;
  color: white;
  padding: 1em;
  margin-left: 1em;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #E86161;
}